@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Titillium Web, sans-serif!important;
  /* Margin bottom by footer height */
  margin-bottom: 135px;
  background-color: rgba(0,68,148,.03)!important;
}

@media (max-width: 768px) {
  body {
    margin-bottom: 155px;
  }
}

h2 {
  color: #6bb745;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

/* LOADING SPINNER */
.loading-overlay {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1020;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 50% 0;
}



/************************
 *** TABLE HEAD START ***
 ************************/

/* Changes detail view table header style */
.th-styles tr td:first-child {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  font-weight: bold;
}

.th-sort > th > span {
  cursor: pointer;
}

.th-sort > th > span:hover {
  color: #000;
  /*opacity: 0.6;*/
}

/* Ordering in table head */
.fa-sort-up, .fa-sort-down {
  color: #6bb745;
}

/************************
 ***  TABLE HEAD END  ***
 ************************/



/* OpenLayers layer switcher position */
.layer-switcher {
  top: 0.5rem;
}

/* Error pages have whole background white */
.background-color-white {
  background-color: #fff !important;
}



/*********************************
 *** PAGINATE AND EXPORT START ***
 *********************************/

@media (max-width: 767px) {
  .t-paginate-by-center {
    margin: 0 auto;
    width: unset;
  }

  .export-center {
    text-align: center;
    width: 100%;
  }

  .b-paginate-by-center {
    margin: 0 auto;
  }

  /* Overrides bootstrap rule */
  .pagination-center > .justify-content-end {
    justify-content: center !important;
    width: 100%;
  }
}

/*********************************
 ***  PAGINATE AND EXPORT END  ***
 *********************************/



/****************************
 *** SOCIAL BUTTONS START ***
 ****************************/

.btn-share {
  width: 32px;
  height: 31px;
}

.btn-share:hover {
  opacity: 0.7;
}

.linkedin {
  background-color: #0077B5 !important;
  border-color: #0077B5 !important;
}

.facebook {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
}

.twitter {
  background-color: #1dcaff !important;
  border-color: #1dcaff !important;
}

/****************************
 ***  SOCIAL BUTTONS END  ***
 ****************************/
